uvicorn
fastapi
sqlalchemy
passlib
bcrypt
# To allow static images and files //
python-multipart
aiofiles
#For authentication
python-jose




# DESIGN PROCESS
# SignUP Login ,LogOut
#Upload an Image with a caption
#Retrieve and display all post
#Delete a post
# ---Only available to creators
#Commnet
# ---Only when authenticated
#----Retrieve and display all comments for apost
